body {
  background-color: #0d0d0d;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Main content wrapper */
.main-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 12%; /* space for navbar height */
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ccc;
}

.btn {
  background-color: rgb(212, 163, 114);
  color: #000;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: rgb(212, 163, 114);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
